@font-face {
  font-family: "IndieFlower";
  src: local("IndieFlower"),
    url(../assets/IndieFlower-Regular.ttf) format("truetype");
}

.presentation {
  display: flex;
  width: 50vw;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  border-style: none;
  background-color: transparent;
}

.avatar-anim {
  border-style: none;
  background-color: transparent;
  animation: buttonslide 2s linear;
}

/* animation slide avatar */
@keyframes buttonslide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.presentation button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.my-avatar {
  width: 20vw;
}

.pres {
  font-family: "IndieFlower", cursive;
  font-size: 12pt;
}

@media screen and (max-width: 1250px) {
  .pres {
    font-size: 10pt;
  }
}

.pres-hide {
  display: none;
}

.dev-title {
  display: block;
  width: 50vw;
  height: 70px;
  border-top: solid rgb(43, 43, 43) 4px;
  border-bottom: solid rgb(43, 43, 43) 4px;
  margin-top: -4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-top: 10px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.contact-block {
  margin-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  height: 55px;
  border-right: solid rgb(43, 43, 43) 1px;
}

#end {
  border-right: none;
}

.contact-block button {
  border-style: none;
  background-color: transparent;
  padding-right: 10px;
  transition: transform 0.7s ease-in-out;
}

.contact-block button:hover {
  cursor: pointer;
  transform: rotate(-45deg);
}

.contact-block button img {
  height: 50px;
}

.p-hide {
  display: none;
}

.p-active {
  display: block;
}
/* @media screen and (max-width: 900px) {
  mode mobile
} */
