@font-face {
  font-family: "Maven";
  src: local("Maven"), url(./assets/MavenPro-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Maven";
  font-style: bold;
  src: local("Maven"), url(./assets/MavenPro-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Yellowtail";
  src: local("Yellowtail"),
    url(./assets/Yellowtail-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "IndieFlower";
  src: local("IndieFlower"),
    url(./assets/IndieFlower-Regular.ttf) format("truetype");
}

:root {
  --main-color: #8e53a1;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Maven", sans-serif;
  background-image: url(./assets/background-01.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
}

h1 {
  color: var(--main-color);
  font-family: "Yellowtail", cursive;
}
